:root {
    --main-color: #ffd900;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

button {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin: 1rem;
    display: inline-block;
}

button:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    background: url(/image/homem-jovem-musculoso-levantamento-de-pesos-em-fundo-preto.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #fff;
    font-size: 6rem;
    text-transform: uppercase;

}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.about {
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    margin-top: 3rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.box-container .box h4 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.grid {
    align-items: center;
    background-color: var(--black);
    gap: 1rem;
    margin-top: 3rem;
}

.grid .box-grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5rem;
    gap: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.grid .box-grid .box-2 {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.grid .box-grid .box-2 h4 {
    color: #fff;
    font-size: 3rem;
    padding: 1rem 0;
}

.grid .box-grid .box-2 p {
    font-size: 2rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}


.testimonials {
    align-items: center;
    justify-content: center;
    background: url(/image/banner\ suplemento.jpg) no-repeat center;
    height: 60vh;
    opacity: 0.6;
    margin-top: 3rem;
}

.container {
    max-width: 960px;

}

.font {
    font-size: 8rem;
    color: #fff;
    position: relative;
       
}

.subtitle {
    display: inline-block;
    margin: 2rem 0;
    width: 75%;
    text-align: left;
    color: #fff;
    font-size: 2rem;
         
}

.rodape {
    background-color: var(--bg);
    width: 100%;
    height: 300px;
    border-top: var(--border);
    margin-top: 3rem;
        
}

.rodape a {
    font-size: 2rem;
    color: var(--main-color);
    padding: .5em 1em;
    display: grid;
    margin-left: 10rem;
    margin-top: 1rem;
}


